<!DOCTYPE html>

<html>
	<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title><%=siteInfo ? siteInfo.title : "OMusic."%></title>
        <meta name="description" content='<%=siteInfo ? siteInfo.description : "OMusic."%>'>
        <meta name="keywords" content='<%=siteInfo ? siteInfo.keywords : "OMusic."%>' />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" href="<%=siteInfo.siteStaticURL%>/images/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/style.css">
        <link rel="stylesheet" href="<%=siteInfo.siteStaticURL%>/stylesheets/ui.css">
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/jquery-ui-min.js"></script>
        <script type="text/javascript" src="<%=siteInfo.siteStaticURL%>/javascripts/ui.js"></script>

		<style>
			
		</style>
	</head>
	
	<body>
		<div class="site-container">
			<div id="mainpage" class="page-container"> 
				<div id="imgBoxHost"></div>
				
			</div>
			<div id="playerBoxHost"></div>
		</div>
	</body>
	<script>
		var Contr = {
			imgBox:null,
			playerBox:null,
		}

		var MainPageFun = {
			init:function(){
				this.initPlayerBox();
				this.initImgBox();
			},
			initPlayerBox:function(){
				//init playerBox
				var musicOp = {
		            config:{},
		            songs:[ 
		            	/*{
		                    label:"melody",
		                    singer:"陶喆",
		                    src:"/mp3/melody.mp3",
		                    coverImg:""
	                	},
		                {
		                    id:"112",
		                    label:"喜欢你",
		                    singer:"beyong",
		                    src:"/mp3/BEYOND - 喜欢你.mp3",
		                    coverImg:""
	               		}*/
		            ]
		        };
				Contr.playerBox = new  UI.MusicBox($("#playerBoxHost"),musicOp);

			},
			initImgBox:function(){
				//init imgBox
				var imgs = [
	                {img:"../images/bgshow/da.jpg"},
	                {img:"../images/bgshow/da2.jpg"},
	                {img:"../images/bgshow/da3.jpg"}]

				Contr.imgBox = new UI.BgImgBox(document.getElementById("imgBoxHost"),{
	                imgs:[],
	                config:{}
	            });
	            
	            Contr.imgBox.setImg(imgs,function(){
	            	Contr.imgBox.play();
	            });
			}
		}

		var Request = {

		}
		$(document).ready(function(){
			MainPageFun.init();
		})

	</script>
</html>