<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Me.</title>
		<meta name="description" content="One Pause Poetry">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="stylesheets/style.css">
		<style>
			
		</style>
	</head>
	
	<body>
		<div class="site-container">
			<% include common/header.html %>
			
			<div class="main">
				<div class="maintop">
				s
				</div>
				
				<div class="content">
					
					<% include common/articles.html %>
                    <div class="badoo">
                        <span class="disabled"> <  Prev</span>
                        <span class="current">1</span>
                        <a href="?p=2">2</a>
                        <a href="?p=3">3</a>
                        <a href="?p=4">4</a>
                        <a href="?p=5">5</a>
                        <a href="?p=6">6</a>
                        <a href="?p=7">7</a>
                        ...
                        <a href="?p=199">199</a>
                        <a href="?p=200">200</a>
                        <a href="?p=2">Next  > </a>
                    </div>
				</div>
				
				<% include common/sidebar.html %>

			</div>
			
			<% include common/footer.html %>
		</div>
        <% include common/footer.html %>
	</body>

</html>