<header>
    <div class="topbar">
        <div class="barc">
            <nav id="nav" class="header-nav">
                <ul>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Work</a></li>
                    <li><a href=""><span class="logo"><span class="logotext">F</span></span></a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">我</a></li>
                </ul>
            </nav>
        </div>

    </div>


</header>