<div class="sidebar">
    <div class="widget">
        <div class="w-title">分类目录 filter</div>
        <ul>
            <li>
                <a href="#">Java</a>
            </li>
            <li>
                <a href="#">Html</a>
            </li>
            <li>
                <a href="#">Javascript</a>
            </li>
        </ul>
    </div>

    <div class="widget">
        <div class="w-title">分类目录 filter</div>
        <ul>
            <li>
                <a href="#">Java</a>
            </li>
            <li>
                <a href="#">Html</a>
            </li>
            <li>
                <a href="#">Javascript</a>
            </li>
        </ul>
    </div>

    <div class="widget">
        <div class="w-title">分类目录 filter</div>
        <ul>
            <li>
                <a href="#">Java</a> (12)
            </li>
            <li>
                <a href="#">Html</a> (12)
            </li>
            <li>
                <a href="#">Javascript</a> (12)
            </li>
        </ul>
    </div>
</div>